a, a:hover, a:focus, a:active{
	text-decoration: none;
	outline: none;
}

.az-logo{
	width: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.owl-carousel .owl-wrapper-outer{
	box-shadow: none;
	border: none;
}
nav#top{
    position: absolute;
    z-index: 9;
    width: 100%;
    top: 0px;
    padding: 0;
    background: rgba(255,255,255,0.5);
}
#top-links{
	padding-top: 0
}
.list-inline{
	margin-bottom: 0
}
#top-links{
	font-size: 0;
	li{
		height: 63px;
		padding: 0;
		span{
			display: inline-block;
			height: 0px;
			width: 100%;
			background: rgba(134, 12, 20, 0.5);
			transition: all .3s ease-in-out;
		}
	}
	li:hover{
		span{
			height: 63px;
		}
		a{
			color: #fff;
		}
	}
	a{
		color: #2F122D;
		line-height: 63px;
		height: 63px;
		display: inline-block;
		font-size: 16px;
		padding: 0 10px;
		text-transform: uppercase;
		font-weight: bold;
		transition: all .3s ease-in-out;
	}
	
}

/*slider middle*/
.az-middle{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	padding: 0 15px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 6;
	text-align: center;
}
h1{
	font-size: 80px;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
}
.az-h1-subtitle{
	display: inline-block;
	text-transform: uppercase;
	margin-top: 15px;
	line-height: 36px;
	color: #fff;
	font-size: 24px;
}
/*slider middle*/

/*slider footer*/

	.az-phone{
		position: absolute;
		bottom: 20px;
		right: 30px;
		z-index: 9;
		font-size: 20px;
		text-align: right;
		a{
			line-height: 40px;
			color: #fff;
			transition: all .5s ease-in-out;
		}
		a:hover{
			color: rgba(134, 12, 20, 1);
		}
		i{
			font-size: 20px;
		}
		i.fa-phone{
			animation: shakephone 2s ease-in-out 6s infinite;
		}
	}
	@-webkit-keyframes shakephone{
		35%{
			-webkit-transform:none;
			transform:none
		}
		40%{
			-webkit-transform: rotate(-5deg);
			transform: rotate(-5deg);
		}
		45%{
			-webkit-transform: rotate(10deg);
			transform: rotate(10deg);
		}
		50%{
			-webkit-transform: rotate(-15deg);
			transform: rotate(-15deg);
		}
		55%{
			-webkit-transform: rotate(10deg);
			transform: rotate(10deg);
		}
		60%{
			-webkit-transform: rotate(-5deg);
			transform: rotate(-5deg);
		}
		65%{
			-webkit-transform:none;
			transform:none;
		}
	}
	@keyframes shakephone{
		35%{
			-webkit-transform:none;
			transform:none
		}
		40%{
			-webkit-transform: rotate(-5deg);
			transform: rotate(-5deg);
		}
		45%{
			-webkit-transform: rotate(10deg);
			transform: rotate(10deg);
		}
		50%{
			-webkit-transform: rotate(-15deg);
			transform: rotate(-15deg);
		}
		55%{
			-webkit-transform: rotate(10deg);
			transform: rotate(10deg);
		}
		60%{
			-webkit-transform: rotate(-5deg);
			transform: rotate(-5deg);
		}
		65%{
			-webkit-transform:none;
			transform:none;
		}
	}
	.az-call-back{
		position: absolute;
		bottom: 30px;
		left: 30px;
		z-index: 9;
		a{
			display: inline-block;
			font-size: 18px;
			text-transform: uppercase;
			padding: 0 20px;
			line-height: 40px;
			height: 40px;
			background: rgba(134, 12, 20, 0.5);
			color: #fff;
			border-radius: 5px;
			transition: all .5s ease-in-out;
		}
		a:hover{
			background: rgba(134, 12, 20, 1);
		}
	}
/*slider footer*/

/*popups*/
	.popups{
		display: none;
	}
	.popup{
		padding: 25px;
		background: #1B3B50;//#2c3e50;
		border: 3px solid #0081BC;//#2980b9;
		max-width: 492px;
		border-radius: 3px;
		margin: 0 auto;
	}
	.az-form-popup{
		width: 280px;
		margin: 20px auto;
	}
	.popup-title{
		color: #fff;
		// font-family: 'arialnarrowbold';
		font-size: 32px;
		line-height: 40px;
		display: block;
		text-align: center;
	}
	.az-form{
		.error-input{
			border: 2px solid #FF4A38 !important;
		}
	}
	.mfp-close{
		color: #fff !important;
	}
	.popup-thanks{
		display: none;
	}
	.az-form{
		label{
			// font-family: 'arialnarrowbold';
			line-height: 50px;
			strong{
				color: #e74c3c;
			}
		}
		input[type="text"], textarea{
			width: 100%;
			border: 2px solid #acadad;
			height: 50px;
			padding: 0 8px;
			font-size: 17px;
			// font-family: 'arialnarrowitalic';
			line-height: 50px;
			outline: none;
			margin-bottom: 20px;
		}
		textarea{
			height: 175px;
			resize: none;
			line-height: 20px;
			padding: 10px 8px;
		}
		input[type="submit"]{
			// font-family: 'arialnarrowbold';
			font-size: 18px;
			color: #fff;
			background: #e74c3c;
			display: inline-block;
			padding: 14px 7px;
			text-transform: uppercase;
			width: 100%;
			cursor: pointer;
			border: none;
			outline: none;
		}
		input[type="submit"]:hover{
			background: #c12313;
			color: #fff;
		}
	}
	/**
	 * Fade-move animation for second dialog
	 */

	/* at start */
	.my-mfp-slide-bottom .zoom-anim-dialog {
		opacity: 0;
		-webkit-transition: all 0.2s ease-out;
		-moz-transition: all 0.2s ease-out;
		-o-transition: all 0.2s ease-out;
		transition: all 0.2s ease-out;

		-webkit-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
		-moz-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
		-ms-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
		-o-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
		transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );

	}

	/* animate in */
	.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
		opacity: 1;
		-webkit-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
		-moz-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
		-ms-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
		-o-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
		transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	}

	/* animate out */
	.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
		opacity: 0;

		-webkit-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
		-moz-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
		-ms-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
		-o-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
		transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	}

	/* Dark overlay, start state */
	.my-mfp-slide-bottom.mfp-bg {
		opacity: 0;

		-webkit-transition: opacity 0.3s ease-out; 
		-moz-transition: opacity 0.3s ease-out; 
		-o-transition: opacity 0.3s ease-out; 
		transition: opacity 0.3s ease-out;
	}
	/* animate in */
	.my-mfp-slide-bottom.mfp-ready.mfp-bg {
		opacity: 0.8;
	}
	/* animate out */
	.my-mfp-slide-bottom.mfp-removing.mfp-bg {
		opacity: 0;
	}

	
/*popups*/

	/*mobile*/
.toggle-mnu {
  display: block;
  width: 28px;
  height: 28px !important;
  margin-top: 20px;
  padding: 0 !important;
}

.toggle-mnu span:after, .toggle-mnu span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
}

.toggle-mnu span:after {
  top: 18px;
}

.toggle-mnu span {
  position: relative;
  display: block;
}

.toggle-mnu span, .toggle-mnu span:after, .toggle-mnu span:before {
  width: 100%;
  height: 3px;
  background-color: #2F122D;
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 2px;
}

.toggle-mnu.on span {
  background-color: transparent;
}

.toggle-mnu.on span:before {
  -webkit-transform: rotate(45deg) translate(-1px, 0px);
      -ms-transform: rotate(45deg) translate(-1px, 0px);
          transform: rotate(45deg) translate(-1px, 0px);
}

.toggle-mnu.on span:after {
  -webkit-transform: rotate(-45deg) translate(6px, -7px);
      -ms-transform: rotate(-45deg) translate(6px, -7px);
          transform: rotate(-45deg) translate(6px, -7px);
}

.toggle-mnu {
  float: right;
  // margin-top: 43px;
  // margin-bottom: 33px;
  position: relative;
  z-index: 2;
}

@media only screen and (max-width : 768px) {
	.az-h1-subtitle{
		max-width: 470px;
		br{
			display: none;
		}
	}
	.az-middle{
		top: 40%;
		width: 100%;
		padding: 0 15px;
	}
	h1{
		font-size: 40px;
	}
	.az-h1-subtitle{
		margin-top: 15px;
		line-height: 24px;
		font-size: 16px;
	}
	.az-call-back{
		bottom: 15px;
		left: 15px;
	}
	.az-phone{
		bottom: 10px;
		right: 15px;
	}
	.menu.on{
		display: block !important;
		right: 0;
		top: 100%;
		position: absolute;
		z-index: 12;
		perspective: 1000px;
		li{
			width: 200px;
			display: block;
			margin-left: 0;
			text-align: center;
			line-height: 45px;
			background: darken(#d6d7db, 10%);
			margin-right: 15px;
			animation: menu1 400ms ease-in-out;
			animation-fill-mode: both;
			border-bottom: 1px solid #aaa;
			a{
				width: 100%;
				height: 45px;
				line-height: 45px;
			}
		}
		li:nth-child(1){
			animation-delay: 0ms;
			position: relative;

		}
		li:nth-child(2){
			animation-delay: 50ms;
		}
		li:nth-child(3){
			animation-delay: 100ms;
		}
		li:nth-child(4){
			animation-delay: 150ms;
		}
		li:nth-child(5){
			animation-delay: 200ms;
		}
		li:nth-child(6){
			animation-delay: 500ms;
		}
		li:nth-child(7){
			animation-delay: 700ms;
		}
		li:nth-child(8){
			animation-delay: 800ms;
		}
		li:nth-child(1)::before{
			content: "";
			position: absolute;
			top: -6px;
			right: 8px;
			border-bottom: 7px solid darken(#d6d7db, 10%);
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
			width: 0;
			height: 0;
		}
	}
	@keyframes menu1{
		0%{
			opacity: 0;
			transform: rotateY(90deg) translateY(30px);
		}
		100%{
			opacity: 1;
			transform: rotateY(0deg) translateY(0px);
		}
	}


}

@media only screen and (max-width : 480px) {
.menu.on{
		right: unset;
		left: 5px;
		width: 100%;
		// margin-left: -80%;
		li{
			width: 100%;
			margin-right: 0;
			animation: menu2 400ms ease-in-out;
			animation-fill-mode: both;
			// transform-origin: 0 0;
		}
		li:nth-child(1)::before{
			right: 23px;
		}
	}
	@keyframes menu2{
		0%{
			opacity: 0;
			transform: rotateX(90deg);
		}
		100%{
			opacity: 1;
			transform: rotateX(0deg);
		}
	}
	.az-call-back{
		bottom: 15px;
		left: 0px;
		width: 100%;
		text-align: center;
	}
	.az-phone{
		bottom: 65px;
		right: 0px;
		width: 100%;
		text-align: center;
	}
}